*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.react{
    background-color: #FFFBF7;
}
.menu{
    position: absolute;
    width: 70%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    height: 72px;
    text-align: center;
    
}
.bt0 a{
    display: block;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #FFDFCE;
    letter-spacing: 0.4px;
    line-height: 40px;
    text-transform: capitalize;
    transition: all 0.3s;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    background-color: #FFFBF7;
}
.bt0 a:hover{
    color: #FF3B00;
    transition: all 0.3s;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    background-color: #FFFBF7;
}

@media screen and (max-width:600px) {
   .menu{
    display: block;
   }
   .bt0 a{
    text-align: left;
    font-size: 40px;
   }
}
.bg{
    width: 100%;
}
.txt1{
    background-color: #FFFBF7;
    padding: 100px;
    width: 100%;
    height: 310px;
    color: #FF581D;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.txt2{
    color: #6C2601;
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box1{
    background-color: #FFFBF7;
    width: 100%;
    display: flex;
}
.img01{
    margin: 0 auto;
    padding: 100px;
}
.good{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #FFFBF7;
}
.Philosophy{
    text-align: center;
    background-color: #FFFBF7;
}
.txt3{
    text-align: center;
    background-color: #FFFBF7; 
    padding-top: 50px;
    padding-bottom: 70px; 
}
.footer{
    background-color: #FF581D;
    width: 1920px;
    height: 174px;
}
.footerimg{
    text-align: center;
    padding-top: 45px;
}
